@model Models.Partial.BlogViewData
@{
    ViewBag.Title = "Index";
}
<h2>
    Twój profil</h2>
@foreach (var item in Model.Posts)
{
    <table>
        <tr>
            <th>
            </th>
        </tr>
        <tr>
            <td>
                @item.Text
            </td>
        </tr>
        <tr>
            <td>
                @item.CreationDate.ToString()
            </td>
        </tr>
        <tr>
            <td>
                @item.User.Name
            </td>
        </tr>
    </table>
    
    <br />
    <br />
    <br />
}

@Html.ActionLink("Dodaj wpis", "AddPost")
