@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}
<h2>
    Wystąpił nieoczekiwany błąd!<br /><br />
</h2>

@Model.ActionName<br />
@Model.ControllerName<br />
@Model.Exception
